*{
    padding:0;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color: #0b2545;
    height:50px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
span{
    font-size: 0.85rem;
    color:aliceblue;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
li a{
    margin-left:20px;
    font-size:1rem;
    text-decoration: none;
color:white;}

#about{
    background-color: #13315c;
    color:lightgray;
    height:300px;
    display: flex;
    align-items: center;
     text-align:start;
    justify-content: space-evenly;
    
}
.about-content{
    width:25%;
    padding:20px;
    background-color: #223755;
    border:2px solid transparent;
    border-radius:5%;
    margin:0px 10px;
    
    
}
@media (min-width:360px) {
    .about-content{
    width:50%;
    padding:10px;
}
}
 .content:hover{
    border:1px solid white;
    transition: 0.2s;
 }
 .heading{
    color:white;
    font-size: 1.5rem;
    background-color: #13315c;
    
    
 }
 .img{
    width:25%;
    height:70%;
    background-color:black;
    background-image: url("1732016114166.jpg");
    background-size: cover;
    border-radius: 20px;
    background-position:top;

 }
 #education{
    background-color: #13315c;
    color:lightgray;
    height:400px;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    
}
.current{
    color:white;
     font-size:1.5rem;
     display: inline-BLOCK;
     border: 1px solid transparent;
     padding:10px;
     margin:10px 20px 20px 20px;
}
.DISC{
    margin-top: 5px;
   font-size: 0.85rem;
    color:lightgray;  
    margin-bottom:5px;
}

.highersecondary,.highschool{
    color:white;
     font-size:1.5rem;
     width:50%;
     border: 1px solid transparent;
     padding:10px;
     margin:10px 20px 20px 20px;
}
.skills{
    background-color: #13315c;
    color:lightgray;
    height:200px;
    padding:20px;
    
}
ol{
    width:30%;
    margin-left:20px;
}