*{
    padding:0px;;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
 background-color: #13315c;
}
nav{
    background-color: #0b2545;
    height:auto;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
span{
    font-size: 0.85rem;
    color:aliceblue;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
        background-color: #0b2545;
    }
    .li{
        background-color: #0b2545;
    }
li a{
    background-color: #0b2545;
    margin-left:20px;
    font-size:1rem;
    text-decoration: none;
color:white;}

#about{
    background-color: #13315c;
    color:lightgray;
    height:auto;
    display: flex;
    align-items: center;
     text-align:start;
    justify-content: space-evenly;
    
}
.about-content{
    width:25%;
    padding:20px;
    /* background-color: #223755; */
    border:2px solid transparent;
    border-radius:5%;
    margin:0px 10px;
    
    
}
 
.content:hover{
    border:1px solid white;
    transition: 0.2s;
    
 }
 .heading{
    color:white;
    font-size: 1.5rem;
    background-color: #13315c;
    
    
 }
 .img{

    width:250px;
    height:250px;
     
    background-image: url("myimg.jpg");
    background-size: cover;
    border-radius: 20px;
    background-position:top;
    margin-bottom: 10px;

 }
 #education{
    background-color: #13315c;
    color:lightgray;
    height:auto;
   
    
}
.current{
    color:white;
     font-size:1.5rem;
     display: inline-BLOCK;
     border: 1px solid transparent;
     padding:10px;
     margin:10px 20px 20px 20px;
}
.DISC{
    /* margin-top: 5px; */
   font-size: 0.85rem;
    color:lightgray;  
    margin-bottom:5px;
}

.highersecondary,.highschool{
    color:white;
     font-size:1.5rem;
     width:50%;
     border: 1px solid transparent;
     padding:10px;
     margin:10px 20px 20px 20px;
}
#skills{
    background-color: #13315c;
    color:lightgray;
    height:200px;
    padding:20px;
    
}
ol{
    width:30%;
    margin-left:20px;
}
#projects{
    /* background-color:#13315c; */
    background-color: #13315c;
    color:lightgray;
    height:auto;
}
.fa-solid{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    margin-top: 10px;
    
}
footer{
    text-align: center;
    color: lightgray;
    font-size: 0.85rem;
    padding: 10px;
    background-color: #0b2545;
}

 @media (max-width: 768px) {
     
    #about {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .about-content {
        width: 100%;
        margin: 10px 0;
    }

    .img {
        width: 90%;
        height: 250px;
        margin-top: 15px}

    nav {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    li a {
        margin: 10px 0;
        display: block;
        width: 100%;
    }
    #education {
        height: auto;
        padding: 20px;
    }

    .highersecondary,
    .highschool {
        width: auto;;
    }

    #skills {
        height: auto;
    }

    ol {
        width: 100%;
    }
    #projects{
        width: 100%;
        height:auto;
    }
}